@use './variables' as vars;
@use './mixins' as mix;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: vars.$font-body;
    background: url('/bg-acervo.png');
    background-position: center center; 
    //background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    min-height: 100vh;
    width: 100vw;
    color: vars.$color-text-dark;
    overflow-x: hidden;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: hsla(40, 60%, 90%, 0.1);
        z-index: -1;
    }
}

